.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E9EC;
    grid-area: head;
    padding: 0 20px;
}