.wrapper {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template:  "head head head"
                    "sideBar  main main"
                    ".  main main"
                    "foot  foot foot"
                    / 1fr 2fr 2fr;
}


.app-wrapper-content {
    grid-area: main;
}

.main_container{

}




