.wrapper {
    display: grid;
    width: 100%;
    height: 500px;
    grid-template: [header-left] "head head"[header-right]
                 [main-left]   "sideBar  main" 1fr  [main-right]
                 [footer-left] "foot  foot" 30px [footer-right]
                 / 120px 1fr;
}


.app-wrapper-content {
    background-color: dimgray;
    grid-area: main;
}




